p {
  color: #8c8c8c;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.custom-header {
  font-size: 1em; 
  color: #ffffff; 
  font-weight: bold; /* Bold text */
  padding-bottom: 35px; 
}

.custom-content {
  --background: #f4f4f8;
}


.header-section {
  font-size: 2em;
  text-align: center;
  padding: 5px;
  background-color: #0c0c0c; /* Light blue background for the header */
  border-bottom: 1px solid #d1d1d1;
}

.header-section h2 {
  font-size: .75em; 
  color: #333; /* Dark color for contrast */
  font-weight: bold; /* Bold text */
  text-align: center; /* Center alignment */
  margin-bottom: 20px; /* Bottom margin for spacing */
}

