

/* Toolbar and Title */
ion-toolbar {
  --background: rgba(255, 255, 255, 0.386);
  --padding-top: 5px;
  --padding-bottom: 5px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1); /* subtle shadow for depth */
}

ion-title {
  font-size: 1.75rem; /* Larger font size for titles */
  font-weight: 1000; /* Semi-bold for a sharper look */
}

/* Buttons */
ion-button {
  --background: var(--ion-color-tertiary);
  --background-activated: darken(var(--ion-color-tertiary), 10%); /* 10% darker when activated */
  --background-hover: darken(var(--ion-color-tertiary), 5%); /* 5% darker on hover */
  --color: var(--ion-color-light);
  --border-radius: 4px; /* Rounded corners for a modern look */
  margin: 0 15x; /* Spacing around buttons */
  font-weight: 500; /* Medium weight for readability */
  font-size: 1rem; 
}

/* Button Icons */
ion-icon {
  margin-right: 8px; /* Space between icon and text */
  --color: var(--ion-color-light);
}

/* Cards */
ion-card {
  margin: 16px;
  border-radius: 8px; /* Rounded corners for cards */
}

ion-card-header {
  --background: #bdbdbd45;
  padding: 15px;
  border-bottom: 1px solid #000000;
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

ion-card-subtitle {
  font-size: 1rem;
  color: var(--ion-color-medium);
  margin-bottom: 5px;
}

ion-card-content {
  --color: var(--ion-color-dark);
  padding: 15px;
  font-size: 1rem;
  line-height: 1.5;
}

/* Footer */
ion-footer {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 500;
}

/* Content Background */
ion-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center; /* Center items vertically */
  
  --background: linear-gradient(160deg, #111983 0%, #8d00df 100%);
}
